In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

In [2]:
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\Lenovo\.wdm\drivers\chromedriver\win32\92.0.4515.43\chromedriver.exe] found in cache

In [3]:
url ="https://www.amazon.in/s?k=earbuds"
driver.get(url)
time.sleep(2)

In [4]:
main_area = driver.find_element_by_css_selector("div.s-main-slot.s-result-list.s-search-results.sg-row")
print(main_area)

<selenium.webdriver.remote.webelement.WebElement (session="7c3c39467b87b9f30ae8ce9c297d9204", element="3a5bfd57-0074-4bf4-aaa1-0f9fef661001")>

In [5]:
price = main_area.find_elements_by_css_selector('span.a-price-whole')

In [14]:
data = []
for a in price:
    data.append({
        
        'price':a.text})
print(data)
pd.DataFrame(data).to_csv("Amazon_price.csv")

[{'price': '1,799'}, {'price': '1,799'}, {'price': '10,990'}, {'price': '1,799'}, {'price': '699'}, {'price': '999'}, {'price': '1,999'}, {'price': '1,899'}, {'price': '1,199'}, {'price': ''}, {'price': '1,099'}, {'price': '799'}, {'price': '999'}, {'price': '999'}, {'price': '749'}, {'price': '5,615'}, {'price': '899'}, {'price': '999'}, {'price': '1,299'}, {'price': '1,099'}, {'price': '599'}, {'price': '1,999'}, {'price': '1,299'}, {'price': '1,299'}, {'price': '1,299'}, {'price': '749'}, {'price': '1,199'}]

In [21]:
da= pd.read_csv("Amazon_price.csv")
da.head()

   Unnamed: 0  Unnamed: 0.1    price
0           0             0   1799.0
1           1             1   1799.0
2           2             2  10990.0
3           3             3   1799.0
4           4             4    699.0

In [22]:
da['price'] = da['price'].replace({'₹': '', ',': '', '\(': '-', '\)': ''}, regex=True).astype(float)
da.head()

   Unnamed: 0  Unnamed: 0.1    price
0           0             0   1799.0
1           1             1   1799.0
2           2             2  10990.0
3           3             3   1799.0
4           4             4    699.0

In [23]:
pd.DataFrame(da).to_csv("Amazon_price.csv")

In [24]:
da['price'].min()

599.0

In [25]:
da['price'].max()

10990.0

In [26]:
df= pd.read_csv("Flipkart_price.csv")
df.head()

   Unnamed: 0                                               name   price
0           0  realme Buds Wireless 2 with Dart Charge and Ac...  ₹2,299
1           1  realme Buds Wireless 2 with Dart Charge and Ac...  ₹2,299
2           2           boAt Rockerz 255F Pro+ Bluetooth Headset  ₹1,499
3           3                   boAt Bassheads 100 Wired Headset    ₹399
4           4                boAt Airdopes 131 Bluetooth Headset  ₹1,049

In [27]:
df['price'] = df['price'].replace({'₹': '', ',': '', '\(': '-', '\)': ''}, regex=True).astype(float)

In [28]:
df.head()

   Unnamed: 0                                               name   price
0           0  realme Buds Wireless 2 with Dart Charge and Ac...  2299.0
1           1  realme Buds Wireless 2 with Dart Charge and Ac...  2299.0
2           2           boAt Rockerz 255F Pro+ Bluetooth Headset  1499.0
3           3                   boAt Bassheads 100 Wired Headset   399.0
4           4                boAt Airdopes 131 Bluetooth Headset  1049.0

In [29]:
pd.DataFrame(df).to_csv("Flipkart_price.csv")