In [6]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

In [7]:
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\Lenovo\.wdm\drivers\chromedriver\win32\92.0.4515.43\chromedriver.exe] found in cache

In [8]:
url ="https://www.amazon.in/s?k=earbuds"
driver.get(url)
time.sleep(2)

In [9]:
main_area = driver.find_element_by_css_selector("div.s-main-slot.s-result-list.s-search-results.sg-row")
print(main_area)

<selenium.webdriver.remote.webelement.WebElement (session="17f7b30aef8f7ce4d259890e8f92c6e4", element="8f4d38fc-3cea-4208-af57-b570bac306b2")>

In [10]:
price = main_area.find_elements_by_css_selector('span.a-price-whole')

In [11]:
data = []
for a in price:
    data.append({
        
        'price':a.text})
print(data)
pd.DataFrame(data).to_csv("Amazon_price.csv")

[{'price': '1,799'}, {'price': '1,799'}, {'price': '1,799'}, {'price': '10,990'}, {'price': '699'}, {'price': '999'}, {'price': '799'}, {'price': '1,999'}, {'price': '1,890'}, {'price': '1,199'}, {'price': ''}, {'price': '999'}, {'price': '999'}, {'price': '749'}, {'price': '899'}, {'price': '999'}, {'price': '2,499'}, {'price': '1,799'}, {'price': '999'}, {'price': '1,099'}, {'price': '599'}, {'price': '999'}, {'price': '1,099'}, {'price': '1,999'}, {'price': '1,299'}, {'price': '1,299'}, {'price': '999'}, {'price': '5,615'}]

In [12]:
da= pd.read_csv("Amazon_price.csv")
da.head()

   Unnamed: 0   price
0           0   1,799
1           1   1,799
2           2   1,799
3           3  10,990
4           4     699

In [13]:
da['price'] = da['price'].replace({'₹': '', ',': '', '\(': '-', '\)': ''}, regex=True).astype(float)
da.head()

   Unnamed: 0    price
0           0   1799.0
1           1   1799.0
2           2   1799.0
3           3  10990.0
4           4    699.0

In [14]:
pd.DataFrame(da).to_csv("Amazon_price.csv")

In [15]:
da['price'].min()

599.0

In [16]:
da['price'].max()

10990.0

In [20]:
url ="https://www.flipkart.com/search?q=earbuds"
driver.get(url)
time.sleep(2)

In [21]:
main_area = driver.find_element_by_css_selector("div._36fx1h._6t1WkM._3HqJxg")
print(main_area)

<selenium.webdriver.remote.webelement.WebElement (session="17f7b30aef8f7ce4d259890e8f92c6e4", element="b41437a4-2fb1-4a8b-910e-61eca5a28185")>

In [22]:
price = main_area.find_elements_by_css_selector('div._30jeq3')

In [26]:
data = []
for a in price:
    data.append({
        
        'price':a.text})
print(data)
pd.DataFrame(data).to_csv("flipkart_price.csv")

[{'price': '₹1,049'}, {'price': '₹2,299'}, {'price': '₹399'}, {'price': '₹1,499'}, {'price': '₹2,299'}, {'price': '₹1,049'}, {'price': '₹1,499'}, {'price': '₹899'}, {'price': '₹1,199'}, {'price': '₹599'}, {'price': '₹1,499'}, {'price': '₹187'}, {'price': '₹1,299'}, {'price': '₹399'}, {'price': '₹1,599'}, {'price': '₹1,499'}, {'price': '₹1,299'}, {'price': '₹999'}, {'price': '₹449'}, {'price': '₹1,199'}, {'price': '₹1,499'}, {'price': '₹2,699'}, {'price': '₹2,699'}, {'price': '₹399'}, {'price': '₹299'}, {'price': '₹1,399'}, {'price': '₹599'}, {'price': '₹399'}, {'price': '₹449'}, {'price': '₹3,299'}, {'price': '₹449'}, {'price': '₹449'}, {'price': '₹1,499'}, {'price': '₹449'}, {'price': '₹1,999'}, {'price': '₹1,049'}, {'price': '₹289'}, {'price': '₹1,499'}, {'price': '₹899'}, {'price': '₹1,599'}, {'price': '₹1,499'}, {'price': '₹399'}, {'price': '₹1,499'}, {'price': '₹399'}, {'price': '₹3,299'}]

In [27]:
df= pd.read_csv("Flipkart_price.csv")
df.head()

   Unnamed: 0   price
0           0  ₹1,049
1           1  ₹2,299
2           2    ₹399
3           3  ₹1,499
4           4  ₹2,299

In [28]:
df['price'] = df['price'].replace({'₹': '', ',': '', '\(': '-', '\)': ''}, regex=True).astype(float)
df.head()

   Unnamed: 0   price
0           0  1049.0
1           1  2299.0
2           2   399.0
3           3  1499.0
4           4  2299.0

In [29]:
pd.DataFrame(df).to_csv("Flipkart_price.csv")